/* anfragen.css */
body {
    padding-top: 20px;
    background-color: #f8f9fa;
}

.td {
    color: #fff !important;
}


.container {
    max-width: 800px;
}

.btn-danger {
    color: #fff;
}

.table-responsive {
    margin-bottom: 20px;
}

