body {
    font-family: Arial, sans-serif;
    background-color: #b26aff;
    /*background-color: #f8f9fa;*/
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    /*background-color: #343a40;*/
    color: #333;
    padding: 10px 0;
    text-align: center;
}
.main-title {
    font-size: 40px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.section {
    padding: 20px 0;
    text-align: center;
}
.section-heading {
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.section-content {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}
footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.footer-copyright {
    font-size: 14px;
    display: block; /* Stellt sicher, dass das Copyright-Element ein Block-Element ist */
    margin-top: 30px; /* Abstand über dem Copyright-Element */
}
.contact-btn {
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    background-color: #b26aff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
button{
    background-color: #333;
}
.contact-btn:hover {
    background-color: #801aed;
}

/* Stil für Fade-In-Effekt */
.fade-in {
    opacity: 0;
    transition: opacity 1.4s ease;
}

/* Stil für Zoom-Effekt */
.zoom {
    transform: scale(0.7);
    transition: transform 1.4s ease;
}

/* Stil für aktive Elemente (sichtbar) mit Fade-In-Effekt */
.fade-in.active {
    opacity: 1;
}



/* Stil für Fade-In- und Zoom-Effekt */
.fade-in.zoom {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 1.4s ease, transform 1.4s ease;
}

/* Stil für aktive Elemente (sichtbar) mit Fade-In- und Zoom-Effekt */
.fade-in.zoom.active {
    opacity: 1;
    transform: scale(1);
}



/* Alle Bilder in der Diashow auf 16:9 Format und 100% Breite */
#imageCarousel .carousel-item img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9; /* Festlegen des Seitenverhältnisses 16:9 */
    object-fit: cover;
}

/* Stile für das Video-Container */
#videoContainer {
    margin-top: 50px; /* Abstand vom oberen Bereich */
}
#videoContainer video {
    width: 100%; /* Vollständige Breite des Containers */
    height: auto; /* Automatische Höhe basierend auf dem Seitenverhältnis */
    display: block; /* Anzeige als Blockelement */
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    pointer-events: none; /* Deaktiviert Mausereignisse */
}
