body {
    font-family: Arial, sans-serif;
    background-color: #b26aff;
    /*background-color: #f8f9fa;*/
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    /*background-color: #343a40;*/
    color: #333;
    padding: 10px 0;
    text-align: center;
}
.main-title {
    font-size: 40px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.section {
    padding: 20px 0;
    text-align: center;
}
.section-heading {
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.section-content {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}
footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.footer-copyright {
    font-size: 14px;
    display: block; /* Stellt sicher, dass das Copyright-Element ein Block-Element ist */
    margin-top: 30px; /* Abstand über dem Copyright-Element */
}
.contact-btn {
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    background-color: #b26aff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
button{
    background-color: #333;
}
.contact-btn:hover {
    background-color: #801aed;
}

/* styles/startseite.css */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease;
}

.fade-in.active {
    opacity: 1;
}

/* Alle Bilder in der Diashow auf 16:9 Format und 100% Breite */
#imageCarousel .carousel-item img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9; /* Festlegen des Seitenverhältnisses 16:9 */
    object-fit: cover;
}