body {
    font-family: Arial, sans-serif;
    background-color: #b26aff;
    /*background-color: #f8f9fa;*/
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    /*background-color: #343a40;*/
    color: #333;
    padding: 10px 0;
    text-align: center;
}
.main-title {
    font-size: 36px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.section {
    padding: 20px 0;
    text-align: center;
}
.section-heading {
    font-size: 36px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.section-content {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}
footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.footer-copyright {
    font-size: 14px;
    display: block; /* Stellt sicher, dass das Copyright-Element ein Block-Element ist */
    margin-top: 30px; /* Abstand über dem Copyright-Element */
}
.contact-btn {
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    background-color: #b26aff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
button{
    background-color: #333;
}
.contact-btn:hover {
    background-color: #801aed;
}

/* styles/startseite.css */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease;
}

.fade-in.active {
    opacity: 1;
}

/* styles/startseite.css */

/* Stile für den animierten Schriftzug */
@keyframes slideText {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.slide-text-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slide-text {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    animation: slideText 10s linear infinite;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
